.blueline {
	BACKGROUND: url(../images/base_icon.png) no-repeat 0px -126px; MARGIN: 0px auto; WIDTH: 910px; HEIGHT: 4px
}
.s_t_zj {
	BACKGROUND: url(../images/0268411b8fc54bf63cf4def6496137cb.gif) no-repeat; FLOAT: left; OVERFLOW: hidden; WIDTH: 7px; HEIGHT: 7px
}
.s_t_yj {
	BACKGROUND: url(../images/0268411b8fc54bf63cf4def6496137cb.gif) no-repeat -7px 0px; FLOAT: left; OVERFLOW: hidden; WIDTH: 7px; HEIGHT: 7px
}
.s_b_zj {
	BACKGROUND: url(../images/0268411b8fc54bf63cf4def6496137cb.gif) no-repeat -14px 0px; FLOAT: left; OVERFLOW: hidden; WIDTH: 7px; HEIGHT: 7px
}
.s_b_yj {
	BACKGROUND: url(../images/0268411b8fc54bf63cf4def6496137cb.gif) no-repeat -21px 0px; FLOAT: left; OVERFLOW: hidden; WIDTH: 7px; HEIGHT: 7px
}
.c_title {
	MARGIN: 0px auto; WIDTH: 910px; COLOR: #21659a; LINE-HEIGHT: 25px; PADDING-TOP: 10px
}
.c_title SPAN {
	COLOR: #333
}
.content_single {
	BACKGROUND: #f9fafc; MARGIN: 0px auto; WIDTH: 910px
}
.l_t_mid_s {
	BORDER-TOP: #c2d4de 1px solid; BACKGROUND: #f9fafc; FLOAT: left; OVERFLOW: hidden; WIDTH: 896px; HEIGHT: 6px
}
.mid_single {
	BORDER-RIGHT: #c2d4de 1px solid; BACKGROUND: #f9fafc; FLOAT: left; PADDING-BOTTOM: 15px; BORDER-LEFT: #c2d4de 1px solid; WIDTH: 908px
}
.padder_single {
	DISPLAY: inline-block; MARGIN: 0px 20px
}
.padder_single_content {
	DISPLAY: inline-block; MARGIN: 0px 20px
}
.padder_single_content P {
	FLOAT: left; WIDTH: 868px; LINE-HEIGHT: 25px
}
.border {
	FLOAT: left; WIDTH: 100%
}
.l_b_mid_s {
	BACKGROUND: #f9fafc; FLOAT: left; OVERFLOW: hidden; WIDTH: 896px; BORDER-BOTTOM: #c2d4de 1px solid; HEIGHT: 6px
}
.single_title {
	MARGIN-TOP: 10px; FLOAT: left; WIDTH: 868px; LINE-HEIGHT: 23px; BORDER-BOTTOM: #e6e5e5 1px solid
}
.single_title H1 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; FLOAT: left; COLOR: #000000; BORDER-BOTTOM: #69cbf1 4px solid
}
.hacker {
	CLEAR: both; OVERFLOW: hidden; HEIGHT: 15px
}
.padder_single H4 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; WIDTH: 862px; COLOR: #333333
}
.whatisnew {
	PADDING-LEFT: 30px; PADDING-BOTTOM: 25px; WIDTH: 832px; LINE-HEIGHT: 23px; LIST-STYLE-TYPE: decimal
}
.whatisnew LI {
	FONT-SIZE: 14px
}
A.info_download {
	DISPLAY: inline-block; PADDING-LEFT: 20px; FONT-WEIGHT: normal; FONT-SIZE: 12px; BACKGROUND: url(../images/abbda83b01a21897bf01d1754f41524e.gif) no-repeat 8px center; COLOR: #22659a; TEXT-DECORATION: none
}
.piclist {
	DISPLAY: inline; FONT-SIZE: 14px; FLOAT: left; WIDTH: 140px; LINE-HEIGHT: 24px; MARGIN-RIGHT: 90px; TEXT-ALIGN: center
}
.addon {
	FLOAT: left; MARGIN-BOTTOM: 15px; PADDING-BOTTOM: 10px; WIDTH: 868px; BORDER-BOTTOM: #ccc 1px dashed; HEIGHT: 180px
}
.addon IMG {
	FLOAT: right
}
.addon DL {
	FLOAT: left; COLOR: #333; LINE-HEIGHT: 1.8em
}
.addon DL DT {
	FONT-WEIGHT: bold; FONT-SIZE: 14px
}
.addon A.download {
	MARGIN-TOP: 10px; DISPLAY: inline-block; BACKGROUND: url(../images/download_g.jpg); WIDTH: 121px; HEIGHT: 56px
}
.help_list {
	FLOAT: left; WIDTH: 868px
}
.help_list UL {
	MARGIN-TOP: 10px; FLOAT: left; WIDTH: 868px
}
.help_list LI {
	PADDING-LEFT: 15px; FONT-SIZE: 14px; BACKGROUND: url(../images/fa27115219bb640cd044326bf91e8025.gif) no-repeat left center; FLOAT: left; WIDTH: 270px; LINE-HEIGHT: 26px
}
.lastlist LI {
	PADDING-LEFT: 15px; FONT-SIZE: 14px; BACKGROUND: url(../images/fa27115219bb640cd044326bf91e8025.gif) no-repeat left center; FLOAT: left; WIDTH: 419px; LINE-HEIGHT: 26px
}
.help_title {
	FLOAT: left; WIDTH: 868px; PADDING-TOP: 10px; BORDER-BOTTOM: #c2d3db 1px solid; HEIGHT: 28px
}
.help_title SPAN {
	DISPLAY: inline-block; FONT-WEIGHT: bold; FONT-SIZE: 14px; FLOAT: left; LINE-HEIGHT: 25px; BORDER-BOTTOM: #80bed5 3px solid; BORDHEIGHT: 25px
}
.title_des {
	PADDING-RIGHT: 5px; MARGIN-TOP: 5px; DISPLAY: inline; PADDING-LEFT: 5px; FONT-SIZE: 14px; BACKGROUND: url(../images/1439bbc5cc2852053b1faaa88fd7d68d.jpg) no-repeat left 50%; FLOAT: left; PADDING-BOTTOM: 0px; OVERFLOW: hidden; LINE-HEIGHT: 24px; PADDING-TOP: 0px; WHITE-SPACE: nowrap; HEIGHT: 22px
}
.title_des_content {
	PADDING-RIGHT: 5px; MARGIN-TOP: 20px; DISPLAY: inline; PADDING-LEFT: 5px; FONT-SIZE: 14px; BACKGROUND: url(../images/1439bbc5cc2852053b1faaa88fd7d68d.jpg) repeat-x left 50%; FLOAT: left; PADDING-BOTTOM: 0px; OVERFLOW: hidden; LINE-HEIGHT: 24px; PADDING-TOP: 0px; WHITE-SPACE: nowrap; HEIGHT: 22px
}
.content_des {
	MARGIN-TOP: 15px; PADDING-LEFT: 30px; FLOAT: left; WIDTH: 510px; COLOR: #333; LINE-HEIGHT: 25px; LIST-STYLE-TYPE: decimal
}
.content_des LI {
	FONT-SIZE: 14px
}
.sorry {
	MARGIN: 30px auto; WIDTH: 360px
}
.sorry UL LI.p {
	PADDING-RIGHT: 0px; PADDING-LEFT: 70px; FONT-SIZE: 14px; BACKGROUND: url(../images/sorry.jpg) no-repeat 0px 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 30px; HEIGHT: 33px
}
.sorry UL LI {
	MARGIN-BOTTOM: 20px
}
