BODY {

	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: Arial,"宋体"

}

DIV {

	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: Arial,"宋体"

}

DL {

	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: Arial,"宋体"

}

DT {

	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: Arial,"宋体"

}

DD {

	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: Arial,"宋体"

}

UL {

	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: Arial,"宋体"

}

OL {

	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: Arial,"宋体"

}

LI {

	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: Arial,"宋体"

}

H1 {

	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: Arial,"宋体"

}

H2 {

	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: Arial,"宋体"

}

H3 {

	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: Arial,"宋体"

}

H4 {

	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: Arial,"宋体"

}

H5 {

	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: Arial,"宋体"

}

H6 {

	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: Arial,"宋体"

}

FORM {

	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: Arial,"宋体"

}

FIELDSET {

	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: Arial,"宋体"

}

LEGEND {

	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: Arial,"宋体"

}

INPUT {

	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: Arial,"宋体"

}

BUTTON {

	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: Arial,"宋体"

}

TEXTAREA {

	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: Arial,"宋体"

}

P {

	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: Arial,"宋体"

}

TH {

	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: Arial,"宋体"

}

TD {

	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: Arial,"宋体"

}

TABLE {

	BORDER-COLLAPSE: collapse; border-spacing: 0

}

FIELDSET {

	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px

}

IMG {

	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px

}

LI {

	LIST-STYLE-TYPE: none

}

P {

	TEXT-INDENT: 2em

}

.top-logo A {
	background-image: url(../images/logo.png);
	background-repeat: no-repeat;

}

.con-nav .current {

	BACKGROUND: url(../images/bg_main.png) no-repeat

}

.r-t {

	BACKGROUND: url(../images/bg_main.png) no-repeat

}

.r-b {

	BACKGROUND: url(../images/bg_main.png) no-repeat

}

.r-t B {

	BACKGROUND: url(../images/bg_main.png) no-repeat

}

.r-b B {

	BACKGROUND: url(../images/bg_main.png) no-repeat

}

.icon-s {

	BACKGROUND: url(../images/bg_main.png) no-repeat

}

.r-bot {

	BACKGROUND: url(../images/bg_main.png) no-repeat

}

.bh-c {

	BACKGROUND: url(../images/bg_main.png) no-repeat

}

.con-site LI {

	BACKGROUND: url(../images/bg_main.png) no-repeat

}

.con-nav .wb A {

	BACKGROUND: url(../images/bg_main.png) no-repeat

}

.con-intr H3 {

	BACKGROUND: url(../images/bg_main.png) no-repeat

}

.con-side .news LI {

	BACKGROUND: url(../images/bg_main.png) no-repeat

}

.icon {

	BACKGROUND-IMAGE: url(../images/icon.jpg); BACKGROUND-REPEAT: no-repeat

}

HTML {

	BACKGROUND: #fff

}

BODY.index {

	BACKGROUND: url(../images/bg.png) #fff repeat-x 0px 0px

}

BODY {

	BACKGROUND: url(../images/other_page_bg.png) #fff repeat-x 0px 0px

}

.index #page {

	BACKGROUND: url(../images/banner.jpg) no-repeat center 100px

}

.wrap {

	BACKGROUND: #fff; OVERFLOW: hidden

}



BODY.normal {

	BACKGROUND: url(../images/bg.png) #fff repeat-x 0px 0px

}

BODY.normal2 {

	BACKGROUND: url(../images/bg.png) #fff repeat-x 0px 0px

}



BODY {

	FONT: 12px/1.5 Tahoma, Helvetica, Arial, "宋体", sans-serif; COLOR: #5c6467

}

TD {

	FONT: 12px/1.5 Tahoma, Helvetica, Arial, "宋体", sans-serif; COLOR: #5c6467

}

BUTTON {

	FONT: 12px/1.5 Tahoma, Helvetica, Arial, "宋体", sans-serif; COLOR: #5c6467

}

SELECT {

	FONT: 12px/1.5 Tahoma, Helvetica, Arial, "宋体", sans-serif; COLOR: #5c6467

}

INPUT {

	FONT: 12px/1.5 Tahoma, Helvetica, Arial, "宋体", sans-serif; COLOR: #5c6467

}

TEXTAREA {

	FONT: 12px/1.5 Tahoma, Helvetica, Arial, "宋体", sans-serif; COLOR: #5c6467

}

A {

	CURSOR: pointer; COLOR: #5c6467; TEXT-DECORATION: none; outline: none

}

A:visited {

	CURSOR: pointer; COLOR: #5c6467; TEXT-DECORATION: none; outline: none

}

A:hover {

	COLOR: #3c75bc; TEXT-DECORATION: underline

}

.clearfix:unknown {

	CLEAR: both; DISPLAY: block; HEIGHT: 0px; content: ' '

}

.clearfix {

	ZOOM: 1

}

.clear {

	CLEAR: both

}

.mt5 {

	MARGIN-TOP: 5px

}

.mt10 {

	MARGIN-TOP: 10px

}

.mt20 {

	MARGIN-TOP: 20px

}

#header {

	MARGIN-LEFT: auto; MARGIN-RIGHT: auto

}

#content {

	MARGIN-LEFT: auto; MARGIN-RIGHT: auto

}

#footer {

	MARGIN-LEFT: auto; MARGIN-RIGHT: auto

}

#header {

	MARGIN: 0px auto; WIDTH: 980px; HEIGHT: 100px

}

#content {

	WIDTH: 980px

}

.lay-main {

	MIN-HEIGHT: 1px; FLOAT: left; WIDTH: 100%

}

.main-wrap {

	POSITION: relative

}

.lay-side {

	Z-INDEX: 1; FLOAT: left; POSITION: relative

}

.lay-extra {

	Z-INDEX: 1; FLOAT: left; POSITION: relative

}

.layout:unknown {

	CLEAR: both; DISPLAY: block; HEIGHT: 0px; content: ' '

}

.main-wrap:unknown {

	CLEAR: both; DISPLAY: block; HEIGHT: 0px; content: ' '

}

.lay-side:unknown {

	CLEAR: both; DISPLAY: block; HEIGHT: 0px; content: ' '

}

.lay-extra:unknown {

	CLEAR: both; DISPLAY: block; HEIGHT: 0px; content: ' '

}

.layout {

	ZOOM: 1

}

.main-wrap {

	ZOOM: 1

}

.lay-side {

	ZOOM: 1

}

.lay-extra {

	ZOOM: 1

}

.lay-ms .main-wrap {

	MARGIN-RIGHT: 295px

}

.lay-ms .lay-side {

	MARGIN-LEFT: -290px; WIDTH: 290px

}

.lay-sm .main-wrap {

	MARGIN-LEFT: 340px

}

.lay-sm .lay-side {

	MARGIN-LEFT: -100%; WIDTH: 330px

}

.lay-skin .main-wrap {

	MARGIN-RIGHT: 167px

}

.lay-skin .lay-side {

	MARGIN-LEFT: -162px; WIDTH: 162px

}

#footer {

	CLEAR: both; MARGIN: 0px auto; WIDTH: 980px; PADDING-TOP: 5px; TEXT-ALIGN: center

}

.foot-inner {

	BACKGROUND: url(../images/bot_bg.png) repeat-x 0px -30px; WORD-SPACING: 10px; COLOR: #e7e7e7; LINE-HEIGHT: 30px; POSITION: relative; HEIGHT: 30px

}

.foot-inner SPAN {

	BACKGROUND: url(../images/bot_bg.png) no-repeat; OVERFLOW: hidden; WIDTH: 10px; POSITION: absolute; TOP: 0px; HEIGHT: 30px

}

.foot-inner STRONG {

	COLOR: #000

}

.foot-inner .l {

	BACKGROUND-POSITION: 0px 0px; LEFT: 0px

}

.foot-inner .r {

	BACKGROUND-POSITION: -10px 0px; RIGHT: 0px

}

#footer P {

	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px

}

.top-logo {

	FLOAT: left; MARGIN: 0px auto; WIDTH: 230px; HEIGHT: 94px

}

.top-logo A {

	DISPLAY: block; WIDTH: 205px; HEIGHT: 94px

}

.top-link {

	COLOR: #d1d1d1; LINE-HEIGHT: 25px; HEIGHT: 52px; TEXT-ALIGN: right

}

.top-link A {

	COLOR: #767676

}

.top-link A:visited {

	COLOR: #767676

}

.top-link A:hover {

	COLOR: #0075e3

}

.mod-nav {

	HEIGHT: 48px

}

.mod-nav LI {

	FONT-SIZE: 14px; FLOAT: left

}

.con-nav {

	PADDING-LEFT: 15px

}

.con-nav LI {

	WIDTH: 93px

}

.con-nav .wb {

	MARGIN: 0px 0px 0px 3px; WIDTH: 76px; HEIGHT: 48px

}

.con-nav .wb A {

	BACKGROUND-POSITION: 0px -155px; TEXT-INDENT: -999em

}

.con-nav .wb A:hover {

	BACKGROUND-POSITION: 0px -155px; TEXT-DECORATION: none

}

.con-nav A {

	DISPLAY: block; FONT-WEIGHT: bold; COLOR: #006089; PADDING-TOP: 15px; HEIGHT: 33px; TEXT-ALIGN: center

}

.con-nav SPAN {

	DISPLAY: block; FONT-WEIGHT: bold; COLOR: #006089; PADDING-TOP: 15px; HEIGHT: 33px; TEXT-ALIGN: center

}

.con-nav A:hover {

	TEXT-DECORATION: none

}

.con-nav A:visited {

	COLOR: #006089

}

.con-nav .current {

	BACKGROUND-POSITION: 0px -104px; FONT-WEIGHT: bold; COLOR: #fff; TEXT-DECORATION: none

}

.con-nav .current:visited {

	COLOR: #fff

}

.con-banner {

	Z-INDEX: 1; POSITION: relative; HEIGHT: 359px

}

.con-point {

	Z-INDEX: 2; LEFT: 525px; COLOR: #3b74a1; POSITION: absolute; TOP: 130px

}

.con-point LI {

	LINE-HEIGHT: 20px

}

.con-point SPAN {

	FONT-FAMILY: "宋体"

}

.con-point .intr-more {

	TEXT-DECORATION: underline

}

.btn-dl {

	LEFT: 527px; WIDTH: 227px; POSITION: absolute; TOP: 220px; HEIGHT: 72px

}

.btn-dl A {

	DISPLAY: block; HEIGHT: 63px

}

.r-t {

	DISPLAY: block; OVERFLOW: hidden; POSITION: relative; HEIGHT: 5px

}

.r-b {

	DISPLAY: block; OVERFLOW: hidden; POSITION: relative; HEIGHT: 5px

}

.r-t B {

	FLOAT: right; WIDTH: 5px; HEIGHT: 5px

}

.r-b B {

	FLOAT: right; WIDTH: 5px; HEIGHT: 5px

}

.r-t {

	MARGIN-BOTTOM: -5px

}

.r-b {

	MARGIN-TOP: -5px

}

.mod-box-a {

	POSITION: relative

}

.mod-box-a .r-t {

	BACKGROUND-POSITION: -215px -95px

}

.mod-box-a .r-t B {

	BACKGROUND-POSITION: -210px -95px

}

.mod-box-a .r-b {

	BACKGROUND-POSITION: -215px -100px

}

.mod-box-a .r-b B {

	BACKGROUND-POSITION: -210px -100px

}

.mod-box-a H3 {

	PADDING-LEFT: 5px; FONT-SIZE: 14px; LINE-HEIGHT: 24px

}

.bc-a {

	BORDER-RIGHT: #d1d1d1 1px solid; BORDER-TOP: #d1d1d1 1px solid; BACKGROUND: #fff; OVERFLOW: hidden; BORDER-LEFT: #d1d1d1 1px solid; BORDER-BOTTOM: #d1d1d1 1px solid; ZOOM: 1

}

.bf-a {

	RIGHT: 10px; POSITION: absolute; TOP: 8px

}

.s-box H3 {

	COLOR: #387fd8

}

.m-box .r-t {

	BACKGROUND-POSITION: -215px -110px

}

.m-box .r-t B {

	BACKGROUND-POSITION: -210px -110px

}

.s-box .r-t {

	BACKGROUND-POSITION: -215px -120px

}

.s-box .r-t B {

	BACKGROUND-POSITION: -210px -120px

}

.m-box .bc-a {

	HEIGHT: 466px

}

.s-box .bc-a {

	HEIGHT: 466px

}

.mod-box-b {

	BACKGROUND: #dbebf5; MARGIN: 10px auto

}

.mod-box-b .r-t {

	BACKGROUND-POSITION: -246px -57px

}

.mod-box-b .r-t B {

	BACKGROUND-POSITION: -242px -57px

}

.mod-box-b .r-b {

	BACKGROUND-POSITION: -246px -61px

}

.mod-box-b .r-b B {

	BACKGROUND-POSITION: -242px -61px

}

.bc-b {

	POSITION: relative

}

.icon-s-star {

	BACKGROUND-POSITION: -230px -87px; LEFT: 10px; WIDTH: 20px; POSITION: absolute; TOP: 7px; HEIGHT: 20px

}

.mod-box-c {

	

}

.bh-c {

	BACKGROUND-POSITION: 0px -193px; POSITION: relative; HEIGHT: 34px

}

.mod-box-c H3 {

	PADDING-RIGHT: 0px; PADDING-LEFT: 45px; FONT-SIZE: 14px; PADDING-BOTTOM: 0px; COLOR: #2e71bf; PADDING-TOP: 8px

}

.mod-box-c .r-bot {

	BACKGROUND-POSITION: 0px -227px

}

.con-intr {

	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 10px; MARGIN: 0px 10px; LINE-HEIGHT: 24px; PADDING-TOP: 10px; BORDER-BOTTOM: #d1d1d1 1px solid; ZOOM: 1

}

.con-intr P {

	COLOR: #5c6467

}

.con-intr H3 {

	BACKGROUND-POSITION: -202px -142px; PADDING-LEFT: 22px; COLOR: #333636

}

.intr-more {

	COLOR: #3c75bc

}

.intr-more:visited {

	COLOR: #3c75bc

}

.con-spc-wrap {

	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 1px; OVERFLOW: hidden; PADDING-TOP: 1px; ZOOM: 1

}

.con-spc {

	OVERFLOW: hidden; ZOOM: 1

}

.con-spc LI {

	DISPLAY: inline; PADDING-LEFT: 60px; FLOAT: left; MARGIN: 15px 5px 10px; VERTICAL-ALIGN: middle; OVERFLOW: hidden; WIDTH: 266px; LINE-HEIGHT: 22px; BORDER-BOTTOM: #cdcdcd 1px dotted; POSITION: relative; HEIGHT: 93px

}

.con-spc .last {

	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none

}

.con-spc H4 {

	FONT-SIZE: 14px; MARGIN-BOTTOM: 5px; COLOR: #333636

}

.con-spc P {

	COLOR: #5c6467; TEXT-INDENT: 0px

}

.con-spc .icon {

	LEFT: 0px; WIDTH: 54px; POSITION: absolute; TOP: 5px; HEIGHT: 54px

}

.con-spc .icon A {

	DISPLAY: block; HEIGHT: 54px

}

.icon-spc1 {

	BACKGROUND-POSITION: 0px 0px

}

.icon-spc2 {

	BACKGROUND-POSITION: -64px 0px

}

.icon-spc3 {

	BACKGROUND-POSITION: -128px 0px

}

.icon-spc4 {

	BACKGROUND-POSITION: -192px 0px

}

.icon-spc5 {

	BACKGROUND-POSITION: -256px 0px

}

.con-spc .icon-spc6 {

	BACKGROUND-POSITION: -317px 0px; HEIGHT: 60px

}

.con-dl {

	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 5px; OVERFLOW: hidden; PADDING-TOP: 5px; ZOOM: 1

}

.con-dl H3 {

	FONT-SIZE: 14px; COLOR: #333636

}

.con-dl UL {

	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px

}

.con-dl LI {

	PADDING-LEFT: 20px; FLOAT: left; WIDTH: 135px; LINE-HEIGHT: 29px; POSITION: relative

}

.con-dl I {

	BACKGROUND: url(../images/dl_icon.png) no-repeat; LEFT: 0px; WIDTH: 16px; POSITION: absolute; TOP: 5px; HEIGHT: 16px

}

.con-dl .xzb {

	BACKGROUND-POSITION: 0px 0px

}

.con-dl .sina {

	BACKGROUND-POSITION: -20px 0px

}

.con-dl .qq {

	BACKGROUND-POSITION: -40px 0px

}

.con-dl .sky {

	BACKGROUND-POSITION: -60px 0px

}

.con-dl .hj {

	BACKGROUND-POSITION: -80px 0px

}

.con-dl .pc {

	BACKGROUND-POSITION: -100px 0px

}

.con-dl .tj {

	BACKGROUND-POSITION: -120px 0px

}

.con-dl .ff {

	BACKGROUND-POSITION: -140px 0px

}

.con-dl .dt {

	BACKGROUND-POSITION: -160px 0px

}

.con-dl .zol {

	BACKGROUND-POSITION: -180px 0px

}

.con-dl .it168 {

	BACKGROUND-POSITION: 0px -20px

}

.con-dl .ph {

	BACKGROUND-POSITION: -20px -20px

}

.con-dl .it {

	BACKGROUND-POSITION: -40px -20px

}

.con-dl .sh {

	BACKGROUND-POSITION: -60px -20px

}

.con-dl .zz {

	BACKGROUND-POSITION: -80px -20px

}

.con-dl .a5 {

	BACKGROUND-POSITION: -100px -20px

}

.con-side {

	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 5px; MARGIN: 0px 10px; COLOR: #366486; PADDING-TOP: 10px; BORDER-BOTTOM: #d1d1d1 1px solid

}

.con-side LI {

	VERTICAL-ALIGN: middle; COLOR: #afafaf; LINE-HEIGHT: 23px

}

.con-side UL {

	PADDING-LEFT: 5px

}

.con-side A {

	COLOR: #366486

}

.con-side A:visited {

	COLOR: #366486

}

.con-side .imp {

	COLOR: #c00

}

.con-side .imp:visited {

	COLOR: #c00

}

.con-side A:hover {

	

}

.con-side .news LI {

	BACKGROUND-POSITION: -211px 8px; PADDING-LEFT: 15px

}

.con-side .user-pj LI {

	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 5px; COLOR: #5c6467; PADDING-TOP: 5px; BORDER-BOTTOM: #d1d1d1 1px dotted

}

.con-side .user-pj .last {

	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none

}

.con-side .user-pj SPAN {

	DISPLAY: block; COLOR: #afafaf

}

.con-side .user-pj EM {

	COLOR: #f60; FONT-STYLE: normal

}

.con-side H3 {

	COLOR: #387fd8

}

.last {

	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none

}

.mt-list .it-site {

	COLOR: #0075e3

}

.mt-list .it-site:visited {

	COLOR: #0075e3

}

.mt-list .it-site:hover {

	COLOR: #5c6467

}

.s-more {

	TEXT-ALIGN: right

}

.con-side .s-more A {

	COLOR: #3c75bc; TEXT-DECORATION: underline

}

.con-side .s-more A:visited {

	COLOR: #3c75bc; TEXT-DECORATION: underline

}

.con-ques P {

	COLOR: #333636; LINE-HEIGHT: 23px

}

.con-title {

	PADDING-LEFT: 32px; FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #2c5396; LINE-HEIGHT: 30px; POSITION: relative; HEIGHT: 30px

}

.con-title .icon-s {

	LEFT: 2px; WIDTH: 25px; POSITION: absolute; TOP: 3px; HEIGHT: 25px

}

.icon-s-intr {

	BACKGROUND-POSITION: -198px -192px

}

.icon-s-spc {

	BACKGROUND-POSITION: -195px -241px

}

.con-txt {

	PADDING-RIGHT: 0px; PADDING-LEFT: 32px; FONT-SIZE: 14px; PADDING-BOTTOM: 7px; LINE-HEIGHT: 27px; PADDING-TOP: 0px; BORDER-BOTTOM: #dbf2ff 4px solid; ZOOM: 1

}

.con-left-nav {

	MARGIN: 5px 0px 5px 4px; WIDTH: 230px

}

.con-left-nav LI {

	HEIGHT: 40px

}

.con-left-nav LI A {

	DISPLAY: block; PADDING-LEFT: 50px; FONT: 400 15px/37px "微软雅黑","Tahoma"; COLOR: #416d96

}

.con-left-nav LI A:hover {

	TEXT-DECORATION: none

}

.con-left-nav LI A.current {

	BACKGROUND: url(../images/intr_sel.png) no-repeat

}

#help_nav LI A {

	PADDING-LEFT: 10px

}

.opt-page {

	DISPLAY: none

}

.lay-left {

	FLOAT: left; WIDTH: 236px

}

.lay-right {

	FLOAT: right; WIDTH: 734px

}

.spc-img {

	FLOAT: left; WIDTH: 460px

}

.spc-img IMG {

	WIDTH: 460px

}

.spc-text {

	PADDING-LEFT: 10px; FLOAT: left; WIDTH: 260px; LINE-HEIGHT: 24px

}

.spc-text H4 {

	FONT-SIZE: 14px; COLOR: #2e71bf

}

.banner-dl {

	BACKGROUND: url(../images/banner_dl.jpg) no-repeat; POSITION: relative; HEIGHT: 261px

}

.banner-dl .btn-dl1 {

	LEFT: 656px; WIDTH: 227px; POSITION: absolute; TOP: 157px; HEIGHT: 72px

}

.banner-dl .btn-dl1 A {

	DISPLAY: block; HEIGHT: 72px

}

.banner-dl .dl-intr {

	LEFT: 656px; COLOR: #000; LINE-HEIGHT: 21px; POSITION: absolute; TOP: 85px

}

.banner-dl .dl-intr SPAN {

	FONT-FAMILY: "宋体"

}

.icon-s-site {

	BACKGROUND-POSITION: -258px -195px

}

.icon-s-type {

	BACKGROUND-POSITION: -258px -223px

}

.con-site {

	PADDING-RIGHT: 30px; PADDING-LEFT: 30px; PADDING-BOTTOM: 5px; WIDTH: 880px; PADDING-TOP: 5px

}

.con-site LI {

	BACKGROUND-POSITION: -266px -253px; PADDING-LEFT: 20px; FLOAT: left; WIDTH: 125px; LINE-HEIGHT: 30px; HEIGHT: 30px

}

.con-dl-type {

	PADDING-RIGHT: 30px; PADDING-LEFT: 30px; PADDING-BOTTOM: 20px; WIDTH: 730px; PADDING-TOP: 5px

}

.con-dl-type LI {

	PADDING-LEFT: 80px; FLOAT: left; WIDTH: 280px; POSITION: relative

}

.con-dl-type .icon {

	BACKGROUND-POSITION: -323px 0px; LEFT: 0px; WIDTH: 62px; POSITION: absolute; TOP: 15px; HEIGHT: 61px

}

.con-dl-type SPAN {

	DISPLAY: block

}

.con-dl-type A {

	DISPLAY: block

}

.con-dl-type SPAN {

	LINE-HEIGHT: 30px

}

.con-dl-type A {

	BACKGROUND-POSITION: 0px -311px; MARGIN-TOP: 5px; FONT-WEIGHT: bold; FONT-SIZE: 14px; WIDTH: 101px; LINE-HEIGHT: 32px; HEIGHT: 32px; TEXT-ALIGN: center

}

.con-dl-type A:hover {

	BACKGROUND-POSITION: -101px -311px; TEXT-DECORATION: none

}

.icon-s-help1 {

	BACKGROUND-POSITION: -223px -196px; LEFT: 10px; WIDTH: 25px; POSITION: absolute; TOP: 5px; HEIGHT: 25px

}

.icon-s-help2 {

	BACKGROUND-POSITION: -202px -280px

}

.help-til {

	BORDER-BOTTOM: #dbf2ff 4px solid

}

.help-txt {

	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 5px; LINE-HEIGHT: 24px; PADDING-TOP: 5px

}

.help-img {

	TEXT-ALIGN: center

}

.other-help {

	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; TEXT-ALIGN: right

}

.other-help A {

	TEXT-DECORATION: underline

}

.page-title {

	PADDING-LEFT: 65px; FONT: 400 18px/40px "微软雅黑","Tahoma"; COLOR: #fff

}

.intr-wrap {

	BACKGROUND: url(../images/intr_bg.png) repeat-y -980px 0px; OVERFLOW: hidden; ZOOM: 1

}

.intr-wrap .top-round {

	BACKGROUND: url(../images/intr_bg.png) no-repeat 0px 0px; OVERFLOW: hidden; HEIGHT: 5px

}

.intr-wrap .bot-round {

	BACKGROUND: url(../images/intr_bg.png) no-repeat 0px 0px; OVERFLOW: hidden; HEIGHT: 5px

}

.intr-wrap .top-round {

	BACKGROUND-POSITION: 0px 0px

}

.intr-wrap .bot-round {

	BACKGROUND-POSITION: 0px -5px

}

.help-page .lay-left {

	WIDTH: 222px

}

.help-page .bh-c {

	BACKGROUND: url(../images/help_bg.png) no-repeat; HEIGHT: 51px

}

.help-page .bh-c H3 {

	TEXT-INDENT: -999em

}

.help-page .bc-c {

	BACKGROUND: url(../images/help_bg.png) repeat-y -278px 0px; OVERFLOW: hidden; ZOOM: 1

}

.help-page .con-left-nav {

	MARGIN: 5px 8px; OVERFLOW: hidden; WIDTH: auto

}

.help-page .con-left-nav LI {

	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../images/help_bg.png) no-repeat 0px bottom; PADDING-BOTTOM: 1px; VERTICAL-ALIGN: middle; PADDING-TOP: 1px; HEIGHT: 34px

}

.help-page .con-left-nav LI.last {

	BACKGROUND: none transparent scroll repeat 0% 0%

}

.help-page .con-left-nav LI A:hover {

	BACKGROUND: url(../images/help_bg.png) no-repeat 0px -105px; TEXT-DECORATION: none

}

.help-page .con-left-nav LI A.current {

	FONT-WEIGHT: bold; BACKGROUND: url(../images/help_bg.png) no-repeat 0px -61px; COLOR: #fff

}

.help-page .con-left-nav LI A.current:hover {

	FONT-WEIGHT: bold; BACKGROUND: url(../images/help_bg.png) no-repeat 0px -61px; COLOR: #fff

}

.help-page .con-left-nav LI A {

	FONT: 400 14px/33px "宋体","Tahoma"; COLOR: #416d96; PADDING-TOP: 1px; HEIGHT: 33px

}

.help-page .help-bot {

	DISPLAY: block; BACKGROUND: url(../images/help_bg.png) no-repeat 0px -149px; OVERFLOW: hidden; HEIGHT: 6px

}

#option_spe {

	BACKGROUND: url(../images/intr_sel.png) no-repeat -74px 0px; MARGIN: 2px 0px 1px 2px; WIDTH: 230px

}

#option_spe LI {

	MARGIN-BOTTOM: 3px; VERTICAL-ALIGN: middle; HEIGHT: 37px

}

#option_spe LI A {

	POSITION: relative; HEIGHT: 37px

}

#option_spe LI A I {

	DISPLAY: none

}

#option_spe LI A.current I {

	DISPLAY: block; BACKGROUND: url(../images/intr_sel.png) no-repeat 0px 0px; LEFT: 208px; WIDTH: 22px; POSITION: absolute; TOP: 7px; HEIGHT: 23px

}

#option_spe A.current {

	BACKGROUND: none transparent scroll repeat 0% 0%

}

#option_spe A:hover {

	BACKGROUND: url(../images/intr_sel.png) no-repeat

}

#option_spe #a0:hover {

	BACKGROUND-POSITION: -342px 0px

}

#option_spe #a1:hover {

	BACKGROUND-POSITION: -342px -40px

}

#option_spe #a2:hover {

	BACKGROUND-POSITION: -342px -80px

}

#option_spe #a3:hover {

	BACKGROUND-POSITION: -342px -120px

}

#option_spe #a4:hover {

	BACKGROUND-POSITION: -342px -160px

}

#option_spe #a5:hover {

	BACKGROUND-POSITION: -342px -200px

}

#option_spe #a6:hover {

	BACKGROUND-POSITION: -342px -240px

}

#option_spe #a7:hover {

	BACKGROUND-POSITION: -342px -280px

}

#option_spe #a8:hover {

	BACKGROUND-POSITION: -342px -320px

}

.banner-ad {

	MARGIN-TOP: 5px

}

.log-box {

	LINE-HEIGHT: 23px

}

.log-box P {

	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 3px; TEXT-INDENT: 0px; PADDING-TOP: 3px

}

.log-box .bc-a {

	PADDING-RIGHT: 50px; PADDING-LEFT: 50px; PADDING-BOTTOM: 15px; PADDING-TOP: 15px

}

.log-box H2 {

	PADDING-LEFT: 0px

}

.log-box H3 {

	PADDING-LEFT: 0px

}

.log-box H2 {

	FONT-SIZE: 16px; MARGIN: 5px 0px

}

.log-box H3 {

	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 5px; COLOR: #000; PADDING-TOP: 5px; BORDER-BOTTOM: #ccc 1px solid

}

.log-list LI {

	LIST-STYLE: decimal none inside

}

.skin-list LI {

	DISPLAY: inline; FLOAT: left; MARGIN: 5px 6px; OVERFLOW: hidden; WIDTH: 257px; COLOR: #006089

}

.skin-list .title {

	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 23px; PADDING-TOP: 0px; POSITION: relative; HEIGHT: 23px

}

.skin-list .title H3 {

	FONT-SIZE: 14px

}

.skin-list .title SPAN {

	RIGHT: 5px; BACKGROUND: url(../images/bg_skin.png) no-repeat -201px -280px; OVERFLOW: hidden; WIDTH: 56px; POSITION: absolute; TOP: 7px; HEIGHT: 11px

}

.skin-list .title SPAN EM {

	DISPLAY: block; BACKGROUND: url(../images/bg_skin.png) no-repeat -201px -259px; OVERFLOW: hidden; WIDTH: 56px; HEIGHT: 11px

}

.skin-list .title .skin-star5 EM {

	WIDTH: 56px

}

.skin-list .title .skin-star4 EM {

	WIDTH: 44px

}

.skin-list .title .skin-star3 EM {

	WIDTH: 33px

}

.skin-list .title .skin-star2 EM {

	WIDTH: 22px

}

.skin-list .title .skin-star1 EM {

	WIDTH: 12px

}

.skin-list .title .skin-star0 EM {

	WIDTH: 0px

}

.skin-list .img {

	PADDING-RIGHT: 0px; PADDING-LEFT: 8px; BACKGROUND: url(../images/bg_skin.png) no-repeat 0px -3px; PADDING-BOTTOM: 0px; WIDTH: 269px; PADDING-TOP: 6px; HEIGHT: 130px

}

.skin-list .txt {

	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 23px; PADDING-TOP: 0px; POSITION: relative; HEIGHT: 23px

}

.skin-list .txt .p-time {

	RIGHT: 3px; POSITION: absolute; TOP: 0px

}

.skin-list .btn-used {

	MARGIN: 10px 0px; HEIGHT: 32px

}

.skin-list .btn-used SPAN {

	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 34px; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: url(../images/bg_skin.png) no-repeat 0px -160px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; WIDTH: 88px; CURSOR: pointer; COLOR: #198a0a; LINE-HEIGHT: 27px; PADDING-TOP: 1px; HEIGHT: 31px

}

.skin-page {

	PADDING-RIGHT: 0px; PADDING-LEFT: 200px; PADDING-BOTTOM: 0px; OVERFLOW: hidden; PADDING-TOP: 8px; TEXT-ALIGN: center

}

.skin-page A {

	BORDER-RIGHT: #9aadc3 1px solid; PADDING-RIGHT: 7px; BORDER-TOP: #9aadc3 1px solid; PADDING-LEFT: 7px; FONT-WEIGHT: bold; BACKGROUND: #e4f2ff; FLOAT: left; PADDING-BOTTOM: 3px; OVERFLOW: hidden; BORDER-LEFT: #9aadc3 1px solid; MARGIN-RIGHT: 3px; PADDING-TOP: 3px; BORDER-BOTTOM: #9aadc3 1px solid; WHITE-SPACE: nowrap; HEIGHT: 19px

}

.skin-page SPAN {

	BORDER-RIGHT: #9aadc3 1px solid; PADDING-RIGHT: 7px; BORDER-TOP: #9aadc3 1px solid; PADDING-LEFT: 7px; FONT-WEIGHT: bold; BACKGROUND: #e4f2ff; FLOAT: left; PADDING-BOTTOM: 3px; OVERFLOW: hidden; BORDER-LEFT: #9aadc3 1px solid; MARGIN-RIGHT: 3px; PADDING-TOP: 3px; BORDER-BOTTOM: #9aadc3 1px solid; WHITE-SPACE: nowrap; HEIGHT: 19px

}

.skin-page A:hover {

	BACKGROUND: #f9f9f9; COLOR: #006089; TEXT-DECORATION: none

}

.skin-page .current {

	BACKGROUND: #f9f9f9; COLOR: #006089; TEXT-DECORATION: none

}

.skin-page .prev {

	WIDTH: 41px; BORDER-TOP-STYLE: none; LINE-HEIGHT: 21px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 21px; BORDER-BOTTOM-STYLE: none

}

.skin-page .next {

	WIDTH: 41px; BORDER-TOP-STYLE: none; LINE-HEIGHT: 21px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 21px; BORDER-BOTTOM-STYLE: none

}

.skin-page .prev {

	BACKGROUND: url(../images/bg_skin.png) no-repeat 0px -262px

}

.skin-page .prev:hover {

	BACKGROUND: url(../images/bg_skin.png) no-repeat 0px -262px

}

.skin-page .next {

	BACKGROUND: url(../images/bg_skin.png) no-repeat -63px -262px

}

.skin-page .next:hover {

	BACKGROUND: url(../images/bg_skin.png) no-repeat -63px -262px

}

.box-skin-a .bh {

	BACKGROUND: url(../images/bg_skin.png) no-repeat 0px -212px; HEIGHT: 36px; TEXT-ALIGN: center

}

.box-skin-a .bh H3 {

	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #006089; LINE-HEIGHT: 33px; PADDING-TOP: 3px

}

.box-skin-a .bf {

	BACKGROUND: url(../images/bg_skin.png) no-repeat 0px -248px; OVERFLOW: hidden; HEIGHT: 4px

}

.box-skin-a .bc {

	BORDER-RIGHT: #d8eaff 1px solid; BORDER-TOP: #d8eaff 0px solid; BACKGROUND: #f9fcff; OVERFLOW: hidden; BORDER-LEFT: #d8eaff 1px solid; BORDER-BOTTOM: #d8eaff 0px solid; ZOOM: 1

}

.skin-nav {

	PADDING-RIGHT: 0px; PADDING-LEFT: 30px; PADDING-BOTTOM: 15px; OVERFLOW: hidden; PADDING-TOP: 15px

}

.skin-nav LI {

	LINE-HEIGHT: 30px

}

.skin-nav LI A {

	DISPLAY: block; PADDING-LEFT: 25px; FONT-SIZE: 14px; BACKGROUND: url(../images/bg_skin.png) no-repeat -244px -151px; HEIGHT: 30px

}

.skin-nav LI A.current {

	BACKGROUND: url(../images/bg_skin.png) no-repeat -244px -181px

}

.skin-nav LI A:hover {

	BACKGROUND: url(../images/bg_skin.png) no-repeat -244px -181px

}

.skin-nav LI A.current {

	FONT-WEIGHT: bold; COLOR: #198a0a

}

.skin-top {

	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; PADDING-BOTTOM: 15px; OVERFLOW: hidden; PADDING-TOP: 15px

}

.skin-top LI {

	FONT-SIZE: 14px; OVERFLOW: hidden; LINE-HEIGHT: 30px; HEIGHT: 30px

}

.skin-top .num {

	FLOAT: right

}





.Flowright{  float:right; height:290px; } 
